<!doctype html>
<html>
    <head>
        <title>Server Error</title>
        <link rel="shortcut icon" type="image/ico" href="/media/img/favicon.ico"/>
        <link type="text/css" rel="stylesheet" href="/media/css/layout.css" />
        <link type="text/css" rel="stylesheet" href="/media/css/styles.css" />
    </head>
    <body>
        <div>
            <h1>Server Error</h1>
            <p>A server error occurred while processing your request. Please try again later. Sorry for the inconvenience.</p>
        </div>
    </body>
</html>
