{% extends 'base.html' %}

{% block content %}

<h1>User Login</h1>

<form method="post">
<table class="dataform" style="width: 300px;">
    {{ form }}
    <tr>
        <td width="100">&nbsp;</td>
        <td>
            <input type="submit" value="Login" />
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <a href="{% url auth_password_reset %}">Password Reset</a>
        </td>
    </tr>
</table>
<input type="hidden" name="next" value="{{ next }}" />
{% csrf_token %}
</form>

{% endblock %}

{% block js %}
<script language="javascript">
$(function() {
    $('#id_username').focus();
});
</script>
{% endblock %}
