{% extends 'base.html' %}

{% block content %}

<div id="mazecontainer">
    <canvas id="maze">
        This game requires the &lt;canvas&gt; tag to work.
    </canvas>
</div>

<div class="instructions">
    Choose your difficulty then navigate your line to the red dot using ASWD keys.
    This game was written using <a href="http://processingjs.org">ProcessingJS</a>
    and <a href="http://coffeescript.org/">CoffeeScript</a>.
</div>

{% endblock %}

{% block js %}
<script src="{{ MEDIA_URL }}js/libs/underscore-min.js"></script>
<script src="{{ MEDIA_URL }}js/libs/processing-1.3.6.min.js"></script>
{% endblock %}

{% block compress_js %}
<script src="{{ MEDIA_URL }}js/mazerun.js"></script>
{% endblock %}
